.table-container {
    width: 100%;
    overflow-x: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

th, td {
    border: 1px solid #ddd;
    padding: 4px; 
    text-align: left;
    font-size: 11px; 
    overflow-wrap: break-word; 
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    word-wrap: break-word; 
    max-width: 150px; 
}

.tax-section {
    margin: 0; 
}

.taxh2 {
    margin-bottom: 10px; 
    font-size: 36px; 
}
