* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  cursor: none;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  background: #ad79c3;
  border: 2px solid #ad79c3;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: all 0.1s ease;
  transform: translate(-50%, -50%);
}

.custom-cursor.hover {
  transform: translate(-50%, -50%) scale(1.5);
  background: rgba(173, 121, 195, 0.5);
}

nav {
  background: linear-gradient(to right, #d3c3e2, #ad79c3);
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
}

.home-link svg {
  font-size: 24px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

nav ul li a:hover {
  color: #fffae3;
  transform: translateY(-2px);
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background-color: white;
  transition: 0.4s;
}

.open {
  display: flex !important;
}

@media (max-width: 768px) {
  nav {
    padding: 20px;
    height: auto;
    background: linear-gradient(to right, #d3c3e2, #ad79c3);
  }

  .hamburger {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background: linear-gradient(to right, #d3c3e2, #ad79c3);
    padding: 20px 0;
  }

  nav ul li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    font-size: 1.1em;
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  .home-link {
    font-size: 1.2em;
  }

  .hamburger {
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 1;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 15px 0;
  }

  nav ul {
    padding: 0 10px;
  }

  nav ul li {
    margin: 8px 0;
  }

  nav ul li a {
    font-size: 1em;
  }
}

.section {
  text-align: center;
  padding: 30px 20px;
  color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero {
  margin: 0 auto;
}

.main-title {
  font-size: 4.5em;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

p {
  font-size: 1em;
  margin: 40px 80px;
}

.h2 {
  font-size: 2em;
}

.challenges-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.challenge-card {
  perspective: 1000px;
  /* Ensure perspective is applied here */
  margin: 20px;
  width: 200px;
  height: 250px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  /* cursor: pointer; */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* backdrop-filter: blur(10px); */
  padding: 20px;
  /* pointer-events: none; */
  /* box-sizing: border-box; */
}

.card-front {
  background: linear-gradient(to bottom right, #a895ca, #ffffff);
  color: white;
  font-size: 0.8em;
  /* pointer-events: none; */
}

.card-back {
  background: linear-gradient(to top right, #c5beea, #ffffff);
  color: rgb(70, 65, 65);
  transform: rotateY(180deg);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.card-back p {
  margin: 0;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.card-inner:hover {
  transform: rotateY(180deg);
}

.recent-h2 {
  padding-top: 20px;
  font-size: 2em;
}

.recent-trends {
  border: 2px solid white;
  padding: 20px;
  backdrop-filter: blur(10px) brightness(1.2);
  background: rgba(255, 255, 255, 0.1);
  font-size: 1em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  color: #766c6c;
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}


.content-section {
  padding: 30px 40px;
  /* Increased padding */
  color: #333;
  text-align: left;
  /* Align text to the left */
  border-radius: 10px;
  margin: 30px auto;
  max-width: 800px;
  /* Limit the width of the entire content section */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-section h2.taxh2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  /* Keep the heading centered */
}

.content-section ol {
  padding-left: 20px;
  /* Adjust left padding for numbering */
  margin: 0 auto;
  max-width: 750px;
  /* Limit the width of the list */
}

.content-section li {
  font-size: 1em;
  line-height: 1.6;
  margin: 8px 0;
  padding: 5px 0;
  transition: color 0.3s;
}

.content-section li:hover {
  color: #8267a1;
  cursor: pointer;
}

.content-section p {
  font-size: 1.1em;
  line-height: 1.7;
  margin: 0 auto;
  max-width: 750px;
  /* Ensure paragraphs are also limited in width */
  color: #555;
  padding: 0 20px;
}

.content-section p::first-letter {
  font-size: 1.4em;
  font-weight: bold;
}



.tax-section {
  text-align: center;
  padding: 20px 10%;
  padding-bottom: 40px;
  padding-top: 10px;
  margin: 30px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  /* overflow: hidden; */
}


.taxh2 {
  font-size: 2em;
  margin: 20px;
}

.table-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow-x: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  scroll-behavior: smooth;
}

table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
}

th,
td {
  padding: 15px 25px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

thead th {
  background-color: #bdabe3;
  color: white;
  padding: 15px 15px;
  font-size: 1.1em;
}

tbody tr:nth-child(even) {
  background-color: #edecf0;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #eceef0;
}

tbody td {
  color: #333;
  padding: 15px 15px;
}

table th,
table td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

table th:last-child,
table td:last-child {
  border-right: none;
}

.teamh2 {
  font-size: 2em;
}

.team-section {
  text-align: center;
  padding: 50px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.team-member {
  text-align: center;
  width: 150px;
  margin: 0 auto;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.team-member h3 {
  margin-top: 15px;
  font-size: 1.3em;
}

.team-description {
  margin-top: 10px;
  color: #666;
  text-align: center;
  line-height: 1.6;
  max-width: 300px;
  font-size: 1em;
  margin: 0 auto;
}

.team-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}

.linkedin-link {
  display: inline-block;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
}

.linkedin-link:hover {
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  .section {
    padding: 30px 10px;
  }

  nav ul li {
    margin: 0 10px;
  }

  h1.main-title {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p,
  ul {
    font-size: 1em;
  }

  .team-member {
    padding: 15px;
  }

  .tax-section {
    padding: 20px 5%;
  }

  table {
    width: 100%;
    max-width: 100%;
  }
}